name: Link Jira issue key in PR

on: pull_request

jobs:
  link-jira-issue-key:
    runs-on: ubuntu-latest
    steps:
      # - name: PR Branch Name
      #   uses: mdecoleman/pr-branch-name@1.0.0
      #   id: pr
      #   with:
      #     repo-token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Find Jira Issue
        uses: cybervoid/gajira-get-issue@v1.1
        id: find
        with:
          input-text: ${{ github.head_ref }}
          # input-text: ${{ steps.pr.outputs.branch }}
        
      - name: Find issue info
        run: echo "Issue ${{ steps.find.outputs.issue }}, ${{ github.context.payload.pull_request.body }}"
