name: Link Jira issue key in PR
on: [pull_request]
jobs:
  link-jira-issue-key:
    runs-on: ubuntu-latest
    steps:
      - name: Find Jira issue key
        uses: atlassian/gajira-find-issue-key@v2.0.2
        id: find
        with:
          from: branch
        
      - name: Find issue info
        run: echo "Issue ${{ steps.find.outputs.issue }}"
